body{
  background:black;
  color: white;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TextField {
justify-content: flex-end;
align-items: center;
margin: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 10px;
  background: linear-gradient(0.25turn, #02a12a, #f0e10c, #e60f0f);
  outline: none;
  margin: 1rem 0;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 25px;
  border: .5px solid black;
  border-radius: 3px;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.reset {
  margin: 1rem
}

.margin {
  margin: 1rem 1rem 1rem 0
}

#button {
  cursor: pointer;
}